<p>This user email is not found, but you can sign up here:</p>

<form method="POST" action="/sign_up">
	<label for="fname">First Name</label>
	<input type="text" name="[user]fname">

	<label for="lname">Last Name</label>
	<input type="text" name="[user]lname">  
  	
  	<label for="email">Email</label>  
  	<input type="text" name="[user]email">

  	<label for="password">Password</label>  
  	<input type="password" name="[user]password">

  	<input type="submit">
  </form>