<!DOCTYPE html>

<p>Welcome, please sign in using your email address:</p>


  <form method="POST" action="/sign_in">  
  	<label for="email">Email</label>  
  	<input type="text" name="email">  
  	<label for="password">Password</label>  
  	<input type="password" name="password">  
  	<input type="submit">
  	
  </form>

