<DOCTYPE!>

<htmL>
	<head>
	</head>

	<body>
		<h1>
			You Should Not Be Here
		</h1>

		<p>
			Here are some reasons why you should not be here:
		</p>

		<% names = ["Taco", "Fish-stick", "Hamburg"] %> 
		<% names.each do |name| %>
			<b> <%="Say hello to #{name}. " %> <b>
				<br> 
		 <% end %>

		 <% nav = ["Home", "links", "Top Secret"] %>

		 <ul>
		 	<% nav.each do |nav| %>
		 	<li>
		 		<a href="/<%=nav%>"> <%=nav %></a>
		 	</li>	
		 </ul>

		 <% end %>


<!-- Try creating a navigation menu inside of a <ul> that takes navigation items from an array and uses a loop to avoid  repeating <li> and <a> tags -->


		<% 10.times do %>   
			<b> THE PLANET IS ‘SPLODIN’!</b> 
		<% end %>

	</body>
</html>
